<div ng-include="'./static/pages/landing/hero.html'"></div>

<div class="signup">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="wrapper clearfix">
                  <div class="formy">
                      <div class="row" id="signin-form">
                          <div class="col-md-12">
                              <form id="signupForm" class="form-horizontal ng-pristine ng-valid" ng-submit="cr.userSignup(cr.username, cr.password, cr.email)">

                                <!-- input:email -->
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" class="form-control" id="inputEmail" minlength="4" maxlength="20" required placeholder="Email" ng-model="cr.email">

                                      <div ng-messages="signupForm.email.$error" ng-messages-multiple>
                                          <div ng-message="required">This field is required</div>
                                          <div ng-message="minlength">Input too short</div>
                                          <div ng-message="email">This field must be an email</div>
                                      </div>
                                </div>

                                <!-- input:username -->
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" class="form-control" id="inputName" required minlength="4" maxlength="10" placeholder="Name" ng-model="cr.username">

                                      <div ng-messages="signupForm.username.$error" ng-messages-multiple>
                                          <div ng-message="required">This field is required</div>
                                          <div ng-message="minlength">Input too short</div>
                                      </div>
                                </div>

                                <!-- input:password -->
                                <div class="form-group">
                                    <label for="password">password</label>
                                    <input type="password" name="password" class="form-control" ng-model="cr.password" minlength="4" maxlength="12" required placeholder="password">

                                      <div ng-messages="signupForm.password.$error"  ng-messages-multiple>
                                          <div ng-message="required">This field is required</div>
                                          <div ng-message="minlength">Input too short</div>
                                      </div>
                                </div>

                                  <div class="form-group action">
                                      <button type="submit" class="btn btn-primary">Submit</button>
                                  </div>
                              </form>


                          </div>
                      </div>
                  </div>
              </div>
          </div>


      </div>
    </div>
</div>
