<h1>signinPage</h1>
<div class="row"></div>
<div class="row">
    <div class="xs-hidden col-sm-1 col-md-2 col-lg-2"></div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
        <div id="signin-form">
            <form name="signinForm" ng-submit="vm.userSignin(vm.username, vm.password)">
                <div class="logo">
                    <div class="thumbnail-image"></div>
                </div>
            	<div class="text-input">
					<div class="thumbnail-image"></div>
            		<input type="text" ng-model="vm.username">
            	</div>
            	<div class="password-input">
            		<div class="thumbnail-image"></div>
            		<input type="password" ng-model="vm.password">	
            	</div>
                <input type="submit" value="Sign-in">
            </form>
            <button type="submit">Sign-up</button>
            <a href="#">Did you forget your password?</a>
        </div>
    </div>
    <div class="xs-hidden col-sm-1 col-md-2 col-lg-2"></div>
</div>
</div>
<div class="row"></div>