<div id="signup">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="wrapper clearfix">
					<div class="formy">
						<div class="row" id="signin-form">
							<div class="col-md-12">
                                <form name="signinForm" ng-submit="vm.userSignin(vm.username, vm.password)">

                                    <!-- input:email -->
							  		<div class="form-group">
                                        <label for="text">Username</label>
                                        <input type="text" class="form-control" id="username" name="username" ng-model="vm.username" minlength="4" maxlength="10" required placeholder="please enter your name">

                                        <div ng-messages="signinForm.username.$error" ng-messages-multiple>
                                            <div ng-message="required">This field is required</div>
                                            <div ng-message="minlength">Input too short</div>
                                        </div>
							  		</div>

                                    <!-- input:password -->
							  		<div class="form-group">
							    		<label for="password">Password</label>
                                        <input type="password" class="form-control" id="password" ng-model="vm.password" minlength="4" maxlength="12" required placeholder="please enter your password">

                                        <div ng-messages="signinForm.password.$error"  ng-messages-multiple>
                                            <div ng-message="required">This field is required</div>
                                            <div ng-message="minlength">Input too short</div>
                                        </div>
							  		</div>

							  		<div class="checkbox">
							    		<label>
							      			<input type="checkbox"> Remember me
							    		</label>
							  		</div>
							  		<div class="submit">
                                        <button type="submit" class="btn btn-default">Sign In</button>
							  		</div>
								</form>

							</div>
						</div>						
					</div>
				</div>
				<div class="already-account">
					Don't have an account?
					<a href="signup.html">Create one here</a>
				</div>
			</div>
		</div>
	</div>
</div>
