<div class="container">
  <div class="row">
      <h1>Create, edit, view, and monitor your surveys</h1>
      <div class="gap-callout gap-callout-info" id="">
          <h4>You can easily create, view, edit, and monitor surveys in this page</h4>
          <p>View list of your surveys, see when they're last modified and how they are now being responeded. Access to the live view and see analytics data that are full with valuable insights. This is the place where you can start really thinking about your surveys.</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
        <div class="panel-body">
          <a href="/#/survey/new" class="btn btn-info btn-lg pull-right">Create Survey</a>	
        </div>
      </div>
          <table class="table table-striped table-hover ">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Title</th>
                      <th ng-click="sortBy('updatedAt')"><strong class="sort-button">Updated At <i class="fa fa-sort"></i></strong></th>
                      <th ng-click="sortBy('responseCount')"><strong class="sort-button"># of Responses <i class="fa fa-sort"></i></strong></th>
                      <th>Functions</th>
                      <th>URL</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="survey in surveys | orderBy:sortingOrder:reverse">
                      <td>{{ $index + 1 }}</td>
                      <td><a href="{{ '#survey/' + survey._id + '/edit/' }}">{{ survey.title }}</a></td>
                      <td>{{ survey.updatedAt | date:"short" }}</td>
                      <td><p class="text-primary">{{ survey.responseCount }}</p></td>
                      <td>
                        <a href="{{ '/#/survey/' + survey._id + '/edit/' }}"><i class="fa fa-pencil-square-o"></i> Edit</a>
                        | <a href="" ng-click="deleteSurvey(survey._id, $index)"><i class="fa fa-times"></i> Delete</a>
                        | <a href="" ng-click="copySurvey(survey)"> <i class="fa fa-files-o"></i> Copy</a>
                        <br>
                        <a href="{{ '/#/survey/' + survey._id + '/view/' }}"><i class="fa fa-eye"></i> Live View</a>
                        | <a href="{{ '/#/survey/' + survey._id + '/analytics/' }}"><i class="fa fa-bar-chart"></i> Analytics</a>
                        | <a href="" ng-click="downloadFile(survey._id)"><i class="fa fa-download"></i> CSV Export</a>
                      </td>
                      <td><input type="text" class="form-control" value="{{ 'localhost:3000/#/survey/' + survey._id + '/view/' }}"></td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
