<div class="row">
    <h1>Create your new Survey</h1>
    <div class="gap-callout gap-callout-info" id="">
        <h4>You can create your own customizable survey</h4>
        <p>Put down everthing from survey basic info, general dempgrahpic questions, to highly customizable grid-type questions that can assess your applicant's overall global competency with our nation, category, and index based scoring system.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well">
        <form ng-submit="create(survey)">
            <!-- Survey Basic Info -->
            <div class="row">
                <label for="">Survey Title:</label>
                <input type="text" class="form-control" ng-model="survey.title" placeholder="Survey Title">
                <br>
            </div>
            <div class="row">
                <label for="">Survey Description:</label>
                <textarea class="form-control" ng-model="survey.description" rows="3" placeholder="Survey Description"></textarea>
                <br>
            </div>
            <!-- Nations -->
            <div class="edit-box row">
                <label for="">Nation:</label>
                <input type="text" ng-model="nation">
                <button class="btn btn-default btn-primary" ng-click="addNation($event, nation)">Add Nation</button>
                <ul>
                    <li ng-repeat="nation in survey.formSetting.nations">
                        {{ nation.name }}
                        <span class="label label-danger" ng-click="removeNation($index)">x</span>
                    </li>
                </ul>
            </div>
            <!-- Categories -->
            <div class="row edit-box">
                <label for="">Category:</label>
                <input type="text" ng-model="category">
                <button class="btn btn-default btn-primary" ng-click="addCategory($event, category)">Add Category</button>
                <ul>
                    <li ng-repeat="category in survey.formSetting.categories">
                        {{ category.name }}
                        <span class="label label-danger" ng-click="removeCategory($index)">x</span>
                    </li>
                </ul>
            </div>
            <!-- Indexs -->
            <div class="row edit-box">
                <label for="">Index:</label>
                <input type="text" ng-model="index">
                <button class="btn btn-default btn-primary" ng-click="addIndex($event, index)">Add Index</button>
                <ul>
                    <li ng-repeat="index in survey.formSetting.indicies">
                        {{ index.name }}
                        <span class="label label-danger" ng-click="removeIndex($index)">x</span>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well">
        <div class="row">
            <h3>Pre-survey: Demographic Info.</h3>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <select class="form-control" ng-options="inputType.value for inputType in inputTypes track by inputType.value" ng-model="selectedInputType"></select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button class="btn btn-primary" ng-click="addDemoQuestion(selectedInputType.value)">Add Question</button>
            </div>
        </div>
        <form action="">
            <div ng-repeat="item in survey.items.demographic" class="field-item well">
                <div class="field-wrapper">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Question #{{ $index + 1 }}</h3>
                        </div>
                        <div class="panel-body">
                            <div ng-switch="item.type">
                                <div ng-switch-when="text">
                                    <label for="">Question for text type answers:</label>
                                    <input type="text" class="form-control" placeholder="Question for text type answers" ng-model="item.question">
                                </div>
                                <div ng-switch-when="textarea">
                                    <label for="">Question for long text type answers:</label>
                                    <input type="text" class="form-control" placeholder="Question for long text type answers" ng-model="item.question">
                                </div>
                                <div ng-switch-when="url">
                                    <label for="">Question for url type answers:</label>
                                    <input type="text" class="form-control" placeholder="Question for url type answers" ng-model="item.question">
                                </div>
                                <div ng-switch-when="email">
                                    <label for="">Question for email type answers:</label>
                                    <input type="text" class="form-control" placeholder="Question for email type answers" ng-model="item.question">
                                </div>
                                <div ng-switch-when="date">
                                    <label for="">Question for date type answers:</label>
                                    <input type="text" class="form-control" placeholder="Question for date type answers" ng-model="item.question">
                                </div>
                                <div ng-switch-when="select">
                                    <label for="">Add Select Options:</label>
                                    <input type="text" ng-model="addingOption">
                                    <button class="btn btn-pri btn-sm" ng-click="addOption(addingOption, $index, $event)">Add Option</button>
                                    <ul>
                                        <li ng-repeat="option in item.options">
                                            <span class="label label-primary">{{ option }}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div ng-switch-when="checkbox">
                                    <label for="">Add Checkbox Options:</label>
                                    <input type="text" ng-model="addingOption">
                                    <button class="btn btn-pri btn-sm" ng-click="addOption(addingOption, $index, $event)">Add Option</button>
                                    <ul>
                                        <li ng-repeat="option in item.options">
                                            <span class="label label-primary">{{ option }}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="options">
                                    <input type="checkbox" ng-model="item.required">Required
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well">
        <h3>Question Fields</h3>
        <select ng-options="fieldType.value for fieldType in fieldTypes track by fieldType.value" ng-model="selectedFieldType"></select>
        <button class="btn btn-default btn-primary" ng-click="addFieldType(selectedFieldType.value)">Add Field</button>
        <div ng-repeat="item in survey.items.content" class="well">
          <div>
            <h3>{{ item.type }} Question</h3>
            <textarea rows="8" cols="40" ng-model="item.scenario"></textarea>

            nation : <select ng-options="nation.name for nation in survey.formSetting.nations track by nation.name" ng-model="item.nation"></select>
            category : <select ng-options="category.name for category in survey.formSetting.categories track by category.name" ng-model="item.category"></select>

            <button type="button" class="btn btn-default btn-danger" ng-click="removeField($index)">Remove Field</button>
            <button type="button" class="btn btn-default btn-primary" ng-click="addQuestion(item)">Add Question</button>
            <div ng-repeat="question in item.questions" class="well">
              <table>
                <thead>
                  <tr>
                    <th></th>
                    <th ng-repeat="response in question.responses"><input type="text" ng-model="response.name"><span class="label label-danger" ng-click="removeResponse(question, $index)">x</span></th>
                    <th><input type="text" ng-model="new" ng-click="addResponse(question)"></th>
                  </tr>
                 </thead>
                 <tbody>
                   <tr>
                     <td><input type="text" name="" id="" value="" ng-model="question.question" /></td>
                     <td ng-repeat="response in question.responses"><input type="radio" name="" id="" value="" /></td>
                   </tr>
                   <tr ng-repeat="index in survey.formSetting.indicies">
                     <td>{{ index.name }}</td>
                     <td ng-repeat="response in question.responses"><input type="number" ng-model="score" ng-change="addScore(response, index.name, score)"></td>
                   </tr>
                   <tr>
                       <td><input type="checkbox" ng-model="question.required">Required</td>
                   </tr>
                 </tbody>
              </table>
              <button type="button" class="btn btn-default btn-danger" ng-click="removeQuestion(item, $index)">Remove Question</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <pre>{{ survey | json }}</pre>
</div>
<div class="row">
    <div class="btn-group btn-group-justified" role="group" aria-label="">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-primary">Save & Submit</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Preview</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">JSON Export</button>
        </div>
    </div>
</div>
