.navbar {
    margin-bottom: 0;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

footer {
    margin: 5em 0;
    ul.list-unstyled > li {
        float: left !important;
    }
}

.block {
    pointer-events: none;
    cursor: default;
    border: 2px solid #e74c3c !important;
}

.input-warning {
  border: 2px solid #e74c3c !important;
}