#landing-image {
    & > div.row {
        background-color: #46dbc2;
        width: 100%;
        height: 380px;
        padding: 0 50px;
        margin: 0 0 20px 0;
        & > div:nth-child(1) {
          background-image: url("../img/langPage-title.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center center;
          height: 380px;
        }
        & > div:nth-child(2) {

        }
    }
}

#landingPage-view {
    & > div > div.marketing {
        & > div > div.marketing-item > img {
            width: 140px;
            height: 140px;
            display: block;
            margin: 0 auto;
        }
        & > div.featurette > div.mockup-img {
            & > div.thumbnail-image {
                background-image: url("../img/landingPage-mockup.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
                margin: 0;
                height: 300px;
                width: 100%;
                margin: 1px 0;
                box-sizing: border-box;
                display: inline-block;
            }
        }
    }
}

#myCarousel {
    height: 500px;
    margin-bottom: 60px;
}

#landingPage-view > div.col-xs-12.col-sm-10.col-md-10.col-lg-8 > div.container.marketing {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

#landingPage-view > div.col-xs-12.col-sm-10.col-md-10.col-lg-8 > div.container.marketing > div.row.featurette > div.col-md-7 > h2 {
    margin-top: 50px;
}